<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dgame~</title>
<meta name="description" content="dgame，目前还需施工...">
<meta name="keywords" content="dependence game">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="short icon" type="image/x-icon" href="img/logo/Favicon.ico">

<link rel="stylesheet" href="//static.hdslb.com/images/jquery-ui/custom/jquery-ui.css" type="text/css">
<link rel="stylesheet" href="//static.hdslb.com/css/core-v5/page-core.css" type="text/css" />

<script src="../js/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<script type="text/javascript" src="//s1.hdslb.com/bfs/static/cm/cm.seed.js?v=2017012715"></script>
<meta name="fragment" content="!">
<link rel="stylesheet" type="text/css" href="//static.hdslb.com/css/index.css"  />

<script type="text/javascript" src="/js/header.js"></script>
<style> body { min-height: 1500px; } </style>
</head>
<style media="screen">
.up-load{
	display: block;
	width: 100%;
	height: 48px;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAwBAMAAACyDnR9AAAAMFBMVEXUUnzWUn3WUn3VUnzVUnzVUn3UUnzUUnzaU4DfVYTuW4zxXI3VUn3qWYjmWIfkV4UXsS1iAAAACHRSTlMB99aQK5W8mPW6JqwAAACVSURBVDjLxcuhDUJBEEXRa2gAhcVRABKHRVAIghZAISgAFH4mNDArIQRBBSSUAC3wfwG7z2x+9uxmzM0jKe2qR0qe/06K5B6RvYG5hXn/LHMxYch6VXibeHyUqvpV0NufUlX/SlU9K1wUvW1WDwonRW+b1afCREx3zI5lexavshsrUe+MRF3DphgfIMZbgOU028Zz6AD+Td5T0E5DWAAAAABJRU5ErkJggg==);
}
.mynum {
    height: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f25d8e;
    border-radius: 10px;
    position: absolute;
    padding: 1px 2px;
    font-size: 12px;
    top: 1px;
    right: -4px;
    min-width: 16px;
    z-index: 30;
    text-align: center;
}
</style>

<body>
	<div class="z_top_container">
		<div class="z_top b-header-blur b-header-blur-black">
			<div class="b-header-mask-wrp">
				<div class="b-header-mask-bg" style="background-image: url('');"></div>
				<div class="b-header-mask"></div>
			</div>
			<div class="z_header">
				<div class="z_top_nav">
					<ul>
						<li class="hbili">
							<a class="i-link" href="/home">
								<span>主站</span>
							</a>
						</li>
						<li class="hbili">
							<a class="i-link" href="/article" title="Article">文章</a>
						</li>
						<li class="hbili">
							<a class="i-link" href="#" title="Group">组队</a>
						</li>
					</ul>
				</div>
				<div class="uns_box">
					<ul id="user_list" class="menu">
						{{#if sign}}
						<li id="i_menu_profile_btn" class="u-i i_user" guest="no" i_menu="#i_menu_profile" style="display: list-item;">
							<a class="i-link" href="/user" target="_blank">
								<img class="i_face" src="../img/face/{{user.avatar}}">
								<span id="user-avatar" style="display: none;">{{user.avatar}}</span>
							</a>
						</li>



						<li id="i_menu_community_msg_btn" class="u-i" guest="no" i_menu="community_msg" style="display: list-item;">

							<a id="i-msg" style="right:10px" class="i-link" href="/msg/whisper?target_id={{target_id}}" target="_blank">消息</a>
							{{#if msg_count}}
							<div id="message_num_total" class="mynum">{{msg_count}}</div>
							{{/if}}

							<div id="community_msg" class="dyn_wnd" style="top: 42px; left: -29px; display: none;">
								<div class="dyn_arrow"></div>
								<div class="dyn_menu">
									<div class="menu">
										<ul>
											<li>
												<a href="/msg/whisper?target_id={{target_id}}" target="_blank">
													<i class="icons2 icons-reply"></i>
													<span class="inner-type">回复我的</span>
													{{#if msg_count}}
													<span id="reply_me" class="inner-num inner_notify_reply" style="display:block">{{msg_count}}</span>
													{{/if}}
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="icons2 icons-at"></i>
													<span class="inner-type">  @我的  </span>
													<span id="at_me" class="inner-num inner_notify_at" style="">0</span>
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="icons2 icons-love"></i>
													<span class="inner-type">收到的赞</span>
													<span id="praise_me" class="inner-num inner_notify_love" style="">0</span>
												</a>
											</li>
											<li>
												<a href="#" target="_blank">
													<i class="icons2 icons-system"></i>
													<span class="inner-type">系统通知</span>
													<span id="notify_me" class="inner-num inner_notify_message" style="">0</span>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</li>

						<li id="i_menu_community_msg_btn" class="u-i" guest="no" i_menu="community_msg" style="display: list-item;">
							<a id="i-msg" class="i-link" href="/site" target="_blank">个人中心</a>
						</li>

						<li id="i_menu_community_msg_btn" class="u-i" guest="no" i_menu="community_msg" style="display: list-item;">
							<a id="i-msg" class="i-link" href="/signout" target="_blank">注销</a>
						</li>

						<li id="i_menu_community_msg_btn" class="u-i" guest="no" i_menu="community_msg" style="display: list-item;">
							<a id="i-msg" class="i-link" href="#" target="_blank"></a>
						</li>

						<li id="" class="u-i" guest="no" i_menu="community_msg" style="display: list-item;">
							<div class="up-load fr">
								<a href="/submit" target="_blank" class="u-link">&nbsp&nbsp投&nbsp&nbsp&nbsp稿&nbsp&nbsp</a>
								<i class="upload-new-icon"></i>
							</div>
						</li>

						{{else}}
						<li id="i_menu_login_reg" class="u-i" guest="yes" style="display: list-item;">
							<a id="i_menu_login_btn" class="i-link login" href="/signin">
								<span>登录</span>
							</a>
							<i class="s-line"></i>
							<a id="i_menu_register_btn" class="i-link reg" href="/signup">
								<span>注册</span>
							</a>


						</li>
						{{/if}}
					</ul>
				</div>
			</div>
		</div>
	</div>
