{{>header}}

  <link type="text/css" rel="stylesheet" href="/css/comm.css">

   <div class="content-sub vr-final">
    <div class="wc clearfix">
     <div class="vr-final-main">

      <div class="vr-final-mod-article">
       <div class="vr-article-hd">
        <h1 class="article-tit forsetLink3 classNameForSetLinkSearch" adskey="yAN3ya">{{article.title}}</h1>
        <div class="info">
         <span class="date forsetLink3 classNameForSetLinkSearch" adskey="yAN3ya">
		 <i class="aico aico-clock"></i>{{article.date}}</span>
         <i class="aico aico-clock"></i>{{article.username}}</span>
        </div>
       </div>
       <p>
       <div class="vr-article-bd">
         {{{article.content}}}

       </div>
      </div>
     </div>
    </div>
   </div>

{{footer}}
