<!DOCTYPE html>
<!-- saved from url=(0032)http://www.indiegames.cn/match/# -->
{{>header}}

    <div style="display:none" class="save_me" avatar="{{user.avatar}}",uu_id="{{user._id}}">{{user._id}}</div>

  <link href="/group/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/group/api"></script>
  <script type="text/javascript" src="/group/getscript"></script>
  <script type="text/javascript" src="/group/jquery-3.1.1.min.js"></script>

  <link rel="shortcut icon" href="http://www.indiegames.cn/match/img/favicon.ico" />
  <link rel="bookmark" href="http://www.indiegames.cn/match/img/favicon.ico" />
  <style type="text/css"></style>
 </head>
 <body>
  <div id="logo">
   <a href="/home"><img src="/img/logo/sign-logo.png" title="返回首页" height="50" /></a>
   <div class="rf">
    <input type="button" class="publish_btn" value="发布组队信息" />
   </div>
  </div>
  <div style="padding-bottom:60px;">
   <div id="map_body" style="overflow: hidden; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left; z-index: 0; height: 591px;">
    <div style="overflow: visible; position: absolute; z-index: 0; left: 439px; top: 13px; cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;">
     <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
      <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;">
       com/images/blank.gif&quot;); width: 19px; height: 25px; left: 485px; top: 511px; z-index: -4624008;&quot; title=&quot;&quot;&gt;
      </div>
      <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
      <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
     </div>
     <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
     </div>
     <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;">
      <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div>
     </div>
     <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div>
    </div>
    <div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div>
    <a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a>


    <div unselectable="on" class=" BMap_noprint anchorTR" style="bottom: auto; right: 10px; top: 10px; left: auto; white-space: nowrap; cursor: pointer; position: absolute; z-index: 10; text-size-adjust: none;">
     <div style="float: left;">
      <div title="显示普通地图" style="box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px; border-left: 1px solid rgb(139, 164, 220); border-top: 1px solid rgb(139, 164, 220); border-bottom: 1px solid rgb(139, 164, 220); background: rgb(142, 168, 224); padding: 2px 6px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: 1.3em; font-family: arial, sans-serif; text-align: center; white-space: nowrap; border-radius: 3px 0px 0px 3px; color: rgb(255, 255, 255);">
       地图
      </div>
     </div>
     <div style="float: left;">
      <div title="显示卫星影像" style="box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px; border-left: 1px solid rgb(139, 164, 220); border-top: 1px solid rgb(139, 164, 220); border-bottom: 1px solid rgb(139, 164, 220); background: rgb(255, 255, 255); padding: 2px 6px; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: 1.3em; font-family: arial, sans-serif; text-align: center; white-space: nowrap; color: rgb(0, 0, 0);">
       卫星
      </div>
      <div style="position: absolute; top: 21px; left: 37px; z-index: -1; display: none;">
       <div title="显示带有街道的卫星影像" style="border-right:1px solid #8ba4dc;border-bottom:1px solid #8ba4dc;border-left:1px solid #8ba4dc;background:white;font:12px arial,sans-serif;padding:0 8px 0 6px;line-height:1.6em;box-shadow:2px 2px 3px rgba(0, 0, 0, 0.35)">
        <span checked="checked" "="" class="BMap_checkbox"></span>
        <label style="vertical-align: middle; cursor: pointer;">混合</label>
       </div>
      </div>
     </div>
     <div style="float: left;">
      <div title="显示三维地图" style="box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px; border-width: 1px; border-style: solid; border-color: rgb(139, 164, 220); background: rgb(255, 255, 255); padding: 2px 6px; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 12px; line-height: 1.3em; font-family: arial, sans-serif; text-align: center; white-space: nowrap; border-radius: 0px 3px 3px 0px; color: rgb(0, 0, 0);">
       三维
      </div>
     </div>
    </div>
    <div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 2px; right: auto; top: auto; left: 2px; position: absolute; z-index: 10; text-size-adjust: none;">
     <span _cid="1" style="display: inline;"><span style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">&copy;&nbsp;2017 Baidu - GS(2016)2089号 - 甲测资字1100930 - 京ICP证030173号 - Data &copy; 长地万方 &amp; <a target="_blank" href="http://www.openstreetmap.org/">OpenStreetMap</a> &amp; <a target="_blank" href="http://corporate.navteq.com/supplier_terms.html">HERE</a></span></span>
    </div>
   </div>
   <div id="map">
    <div id="list" style="visibility: visible;">
     <!--头部选项卡 begin-->
     <ul class="tab">
      <li><a href="#">附近</a></li>
      <li><a href="#">同城</a></li>
      <li><a href="#">全国</a></li>
     </ul>
     <!--头部选项卡 end-->
     <!--列表 begin-->
     <ul class="user_list" style="height: 551px;">
         {{#each groups}}
         <li >
             <a href="/user?_id={{u_id}}"> <img src="/img/face/{{avatar}}" />
                 <p class="user_name">{{username}}</p> <p class="km">&nbsp;&nbsp;{{local}}</p>
                 <p class="user_intro">{{intro_a}}</p>

             </a>
         </li>
         {{/each}}
      <!-- <li id="user_0"> <a href="#"> <img src="/img/face/default.jpg" /> <p class="user_name">RNG</p> <p class="km">&nbsp;&nbsp;成都市</p> <p class="user_intro">我想要队友！！</p> </a> </li> -->
     </ul>
     <!--列表 end-->
    </div>
   </div>
   <style>
.hide{
	visibility:hidden
}
</style>
   <!--发布窗口 Begin-->
   <div id="publish_box" class="hide myclass">
    <!--发布框-->
    <div class="form">
     <div class="title">
      <p class="title_txt">发布组队信息</p>
      <p class="rf close_btn"><a href="#">&times;</a></p>
     </div>
     <!--组队信息表格 begin-->
     <div class="content">
      <form action="http://www.indiegames.cn/match/data/publish.php" method="post" enctype="multipart/form-data">
       <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
         <tr>
          <td width="150" height="40" align="right">昵称: </td>
          <td><input name="nick_name" type="text" class="textbox" id="nick_name" placeholder="请输入不多于15字" size="45" maxlength="15" /></td>
         </tr>
         <tr>
          <td width="150" height="40" align="right">一句话介绍: </td>
          <td><input name="intro_a" type="text" class="textbox" id="intro_a" placeholder="请输入不多于15字" size="45" maxlength="15" /></td>
         </tr>
         <tr>
          <td height="150" align="right">详细信息:</td>
          <td><textarea name="intro_b" cols="45" rows="5" class="textbox" id="intro_b" placeholder="请输入您掌握的技术、工作经历、作品链接等信息"></textarea></td>
         </tr>
         <tr>
          <td width="150" height="40" align="right">联系方式: </td>
          <td><input name="contact" type="text" class="textbox" id="contact" placeholder="请输入QQ号或电子邮件" size="45" maxlength="30" /></td>
         </tr>
         <tr>
          <td height="45" align="right">位置:</td>
          <td style="padding-left:5px"> <p id="location_city_txt">成都市</p> <p id="location_txt">104.06792346,30.67994285</p> <input name="w" type="hidden" id="w" value="104.06792346" /> <input name="e" type="hidden" id="e" value="30.67994285" /> <input name="city_name" type="hidden" id="city_name" value="成都市" /> </td>
         </tr>
         <tr>
          <td colspan="2" height="150" align="center"> <input id="publish_btn_ok" type="button" class="publish_btn" value="发布组队信息" /></td>
         </tr>
        </tbody>
       </table>
      </form>
     </div>
     <!--组队信息表格 end-->
    </div>
   </div>
   <!--发布窗口 End-->
   <!--正在定位提示框-->
   <div id="location_tip_box" style="visibility: hidden;">
    <p>正在定位,请稍后..</p>
   </div>
  </div>
  <script type="text/javascript">
	String.prototype.httpHtml = function(){
		var reg = /(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-)+)/g;
		return this.replace(reg, '<a href="$1$2" target="_blank">$1$2</a>');
	};

	function GetQueryString(name) {
	   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
	   var r = window.location.search.substr(1).match(reg);
	   if (r!=null) return (r[2]); return null;
	}

	var id = GetQueryString("id");

	// 百度地图API功能
	var map = new BMap.Map("map_body",{enableMapClick:false});    // 创建Map实例
	map.centerAndZoom(new BMap.Point(104.00123,30.564089), 16);  // 初始化地图,设置中心点坐标和地图级别
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放


	//初始加点
//	addPoint(103.998903,30.558628,'./img/default.jpg',"我想要队友！！",'我要做游戏！！','#user_'+0,"qq:347261545","RNG");

	function addPoint(x,y,img,title,context,obj,contact,m_id){
		if(contact==undefined){
			contact="";
		}
		//创建点
		var point = new BMap.Point(x,y);
		map.centerAndZoom(new BMap.Point(104.00123,30.564089), 16);
		var marker = new BMap.Marker(point);
		map.addOverlay(marker);
		//创建标注
		var label = new BMap.Label('<div><img src="'+img+'" width="30" height="30" style="float:left"></div>',{offset:new BMap.Size(20,-10)});
		marker.setLabel(label);
		context = context.httpHtml();//创建联系窗口
		//创建联系窗口
		var sContent =
	"<h4 style='margin:0 0 5px 0;padding:0.2em 0'>"+title+"</h4>" +
	"<img style='float:right;margin:4px' id='imgDemo' src='"+img+"' width='50' height='50'/>" +
	"<p>"+context+"</p>" + "<br><p>"+contact+"</div>";
		var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
		marker.addEventListener("click", open_info_window);
		$(obj).click(open_info_window);
		if(id==m_id){
			setTimeout( function(){
				open_info_window();
			map.centerAndZoom(new BMap.Point(104.00123,30.564089), 16);
			id="";
			}, 100 );//延迟5000毫米

		}
		function open_info_window(){
			map.centerAndZoom(new BMap.Point(104.00123,30.564089), 16);
		   marker.openInfoWindow(infoWindow);

	}
	}

	//初始化获取坐标
	var x=0;
	var y=0;
	var city="";

	//获取城市名称
	function myFun(result){
		city = result.name;

		$('#location_city_txt').text(city);
		$('#city_name').val(city);
	}
	var myCity = new BMap.LocalCity();
	myCity.get(myFun);
	var my_point  = new BMap.Point(0,0);


	//获取当前坐标
	var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			x = r.point.lng;
			y = r.point.lat;
			my_point = r.point;
			$('#w').val(x);
			$('#e').val(y);
			$('#location_txt').text(x+","+y);
			$('#list').css("visibility","visible");
			$('#location_tip_box').css("visibility","hidden");
			LoadList(3);
		}
		else {
			alert('无法获取您的位置,请确保您的浏览器支持定位');
		}
	},{enableHighAccuracy: true});
	//刷新我的位置
	function refreshMyPoint(){

			var mk = new BMap.Marker(my_point);
			map.addOverlay(mk);
			map.panTo(my_point);
		    var label = new BMap.Label('我的位置(可拖拽)',{offset:new BMap.Size(20,-10)});
		    mk.setLabel(label);
			mk.enableDragging();

			mk.addEventListener('dragend',function(){
				my_point = mk.getPosition();  //获取marker的位置
				$('#w').val(my_point.lng);
				$('#e').val(my_point.lat);
				$('#location_txt').text(my_point.lng+","+my_point.lat);
				x = my_point.lng;
				y =	my_point.lat;
				//查询城市位置
				var gc = new BMap.Geocoder();
				gc.getLocation(my_point, function(rs){
				   var addComp = rs.addressComponents;
				   city=addComp.city;
					$('#location_city_txt').text(city);
					$('#city_name').val(city);
				});

			});

	}

	//jquery
	$(document).ready(function(){
		//发布信息按钮
		$('#publish_btn_ok').click(function(){

			//开始发布信息
			//检测信息填写是否正确
			if($('#nick_name').val()!="" && $('#intro_a').val()!="" && $('#intro_b').val()!="" && $('#contact').val()!=""){
				//填写往地图上加的东西
				var myw=$('#w').val();
				var mye=$('#e').val();
				var my_id=$('#nick_name').val();
				var my_avator=$('.save_me').attr('avatar').trim() || 'default.jpg';
				var my_intro_a=$('#intro_a').val();
				var my_intro_b=$('#intro_b').val();
				var my_contact=$('#contact').val();
				var my_local=$('#location_city_txt').text();
                var u_id = $('.save_me').text().trim();

                $.ajax({
                    type:'post',
                    url:'/group',
                    data:{
                        u_id:u_id,
                    	w:myw,	//经度
                    	e:mye,	//纬度
                    	username:my_id,
                        avatar:my_avator,
                    	intro_a:my_intro_a,
                    	intro_b:my_intro_b,
                    	contact:my_contact,
                    	local:my_local
                    },
                    success:function(data){
                        alert('提交成功');
                    },
                    error:function(){
                        console.log("error...");
                    }
                 })

				addPoint(myw,mye,'/img/face/'+my_avator,my_intro_a,my_intro_b,'#user_'+my_id,my_contact,my_id);
				$('.user_list').append('<li id="'+'user_'+my_id+'"><a href="#"><img src="/img/face/'+my_avator+'"/><p class="user_name">'+my_id+'</p><p class="km">&nbsp;&nbsp;'+my_local+'</p><p class="user_intro">'+my_intro_a+'</p></a></li>');

				map.centerAndZoom(new BMap.Point(myw,mye), 16);

			}else{
				alert('请确认信息已经填写完整再发布!');
			}

		});
		$('.publish_btn').click(function(){

				$('#publish_box').removeClass("hide");


		});
		$('.close_btn').click(closePublishForm);
		//关闭发布信息窗口
		function closePublishForm(){

			$('#publish_box').addClass("hide");
				$('#nick_name').val('');
				$('#intro_a').val('');
				$('#intro_b').val('');
				$('#contact').val('');
		}
		//注册tab点击切换事件
		$('.tab li').click(function(){
			//查找当前样式为active的圆点,并删除这个样式
			$('.tab li').siblings("li").removeClass("active");
			//为刚才点击的添加active样式
			$(this).addClass("active");
			//加载列表
			LoadList($(this).index()+1);
		});
			//设置百度地图高度

		$(window).resize(refreshBody);
		refreshBody();
		function refreshBody(){
			$("#map_body").height($(window).height()-60);
			$(".user_list").height($(window).height()-100);
		}
	});

	//将json数据载入到网页中
	function LoadResult(result){

		var json_arr = JSON.parse(result);
		if(json_arr.length==0){
			alert('这里好像没有合适的队友,点击全国标签看看吧~');
		}
		for(var i=0;i<json_arr.length;i++){
			var item = json_arr[i];
			var avatar = item.avatar;
			if(avatar ==""){
				avatar="img/default.png";
			}else{
				avatar = 'user/'+item.avatar;
			}
			//添加li
			$('.user_list').append('<li id="'+'user_'+i+'"><a href="#"><img src="'+avatar+'"/><p class="user_name">'+item.name+'</p><p class="km">&nbsp;&nbsp;'+item.city+'</p><p class="user_intro">'+item.intro_a+'</p></a></li>');
			//在地图中添加点
			addPoint(item.w,item.e,avatar,item.intro_a,item.intro_b,'#user_'+i,item.contact,item.id);
		}

			//加载我的位置
		refreshMyPoint();

	}
</script>
<script type="text/javascript">
function init(){
    $.ajax({
        type:'get',
        url:'/group/getInitPoint',
        success:function(resultSet){
            var x;
            for(x in resultSet){
                addPoint(resultSet[x].w,resultSet[x].e,'/img/face/'+resultSet[x].avatar,resultSet[x].intro_a,resultSet[x].intro_b,'#user_'+x,resultSet[x].contact,resultSet[x].u_id);
            }
        },
        error:function(){
            console.log('error');
        }
    })
}

init();

</script>
</body>
</html>
