
  {{> header}}
  <link rel="stylesheet" id="smartideo_css-css" href="../home/css/smartideo.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="style-css" href="../home/css/style.css" type="text/css" media="screen" />
  <script src="../home/js/push.js"></script>
  <script src="../home/js/hm.js"></script>
  <script type="text/javascript" src="../home/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../home/js/shCore.js"></script>
  <link type="text/css" rel="stylesheet" href="../home/css/shCoreDefault.css" />
  <style>a:hover,.main-nav .main-nav__item,.main-nav-nav >.menu-item > a,.second-nav .second-nav__login,.dropdown-list a:hover,.sub-menu a:hover,.pagination a,.aside-today .aside-today__title span,.aside-links .current a,.article a,.readnext h2,.icon-heart.active, .icon-star.active,.single-post-relate__title:hover,.single-post-comment__comments .commemt-main a.at_user,.category-topic__list a:hover,.sidebar-apps__download,.sidebar-tags__list a,.sidebar-tab__tabs a,.main-nav-nav >.menu-item > a:hover,.main-nav .main-nav__item:hover,.postmeta a{color:#08c1ff;}.second-nav .second-nav__login:hover,.account__list span,.dropdown-list .more a,.dropdown-list .dropdown__events .date.upcoming,.sub-menu .more a,.pagination a:hover,.aside-today .aside-today__title,.readnext h2:after,.single-post-comment__bottom .comment-submit-btn,.sidebar h3,.sidebar-apps__download:hover,.panel .submit,.second-nav .second-nav__login:hover,.scrolled .second-nav__login,.panel .submit:hover,.dropdown-list .more a:hover,.aside-tags .new,.logo a,.single-header__meta .payevent a,.article .paybutton,.usermenu li.active a,.btn-primary{background:#08c1ff;}.scrolled .second-nav__login,.second-nav .second-nav__login,.pagination a,.single-header__meta .payevent a,.article .paybutton{border:2px solid #08c1ff;}.main-nav .current:after{border-bottom:4px solid #08c1ff;}.main-nav .hasdropdown:before,.main-nav .main-nav-nav > .menu-item-has-children:before { border-top-color:#08c1ff;}.article blockquote{border-left:6px solid #08c1ff;}.sidebar-popular__list, .sidebar-sponsored__list,.sidebar-apps__list,.sidebar-tags__list,.sidebar-comments__list{border-top:1px solid #08c1ff;}.sidebar-apps__download,.sidebar-tags__list a,.btn-primary{border:1px solid #08c1ff;}.sidebar-tab__wrapper a{border-left:4px solid #08c1ff;}.apps, .cn-news,.apps:hover, .cn-news:hover {color: #08c1ff !important;}
		@media screen and (min-width: 48.0625em) {.header-normal .logo a{background:#08c1ff;}}</style>
  <link rel="stylesheet" href="../home/css/double.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="http://source.indiegames.cn/wp-content/uploads/2014/12/fav2.png" />
  <script>window._mobantu = {login: 'http://www.indiegames.cn/wp-content/themes/Monews/login.php',siteurl:'http://www.indiegames.cn',templateurl: 'http://www.indiegames.cn/wp-content/themes/Monews',nav: '0',totop: '300'}</script>
  <style>.logo span {background-image: url("http://source.indiegames.cn/wp-content/uploads/2016/12/logo2.png");}</style>
  <div class="container row" style="width:1180px !important">
   <div class="main">

    <div class="huge_it_slideshow_image_wrap_3" style="width: 880px; height: 440px;">
     <div id="huge_it_loading_image_3" class="display" style="display: none;">
      <img src="../home/img/body/loading5.gif" alt="" />
     </div>
     <div class="huge_it_slideshow_image_wrap1_3 nodisplay" style="display: block;">
      <!-- ##########################DOTS######################### -->
      <div class="huge_it_slideshow_dots_container_3">
       <div class="huge_it_slideshow_dots_thumbnails_3">
        <div id="huge_it_dots_0_3" class="huge_it_slideshow_dots_3 huge_it_slideshow_dots_deactive_3" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_3')) { return false; } huge_it_change_image_3(parseInt(jQuery('#huge_it_current_image_key_3').val()), '0', data_3,false,true);return false;" data-image_id="92" data-image_key="0"></div>
        <div id="huge_it_dots_1_3" class="huge_it_slideshow_dots_3 huge_it_slideshow_dots_active_3" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_3')) { return false; } huge_it_change_image_3(parseInt(jQuery('#huge_it_current_image_key_3').val()), '1', data_3,false,true);return false;" data-image_id="90" data-image_key="1"></div>
        <div id="huge_it_dots_2_3" class="huge_it_slideshow_dots_3 huge_it_slideshow_dots_deactive_3" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_3')) { return false; } huge_it_change_image_3(parseInt(jQuery('#huge_it_current_image_key_3').val()), '2', data_3,false,true);return false;" data-image_id="89" data-image_key="2"></div>
        <div id="huge_it_dots_3_3" class="huge_it_slideshow_dots_3 huge_it_slideshow_dots_deactive_3" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_3')) { return false; } huge_it_change_image_3(parseInt(jQuery('#huge_it_current_image_key_3').val()), '3', data_3,false,true);return false;" data-image_id="86" data-image_key="3"></div>
       </div>
      </div>
      <!-- ##########################IMAGES######################### -->
      <div id="huge_it_slideshow_image_container_3" class="huge_it_slideshow_image_container_3" style="width: 880px; height: 440px;">
       <div class="huge_it_slide_container_3">
        <div class="huge_it_slide_bg_3">
         <ul class="huge_it_slider_3">
          <li class="huge_it_slideshow_image_item_3" id="image_id_3_0" style="opacity: 0; z-index: 1;">  <img id="huge_it_slideshow_image_3_0" class="huge_it_slideshow_image_3" src="../home/img/body/2065043082.jpg" alt="" data-image_id="92" style="width: 880px; height: 440px;" /> </a>
           <div class="huge_it_slideshow_title_text_3 none" style="margin-top: -17.5px;"></div>
           <div class="huge_it_slideshow_description_text_3 none" style=""></div> </li>
          <li class="huge_it_slideshow_image_second_item_3" id="image_id_3_1" style="opacity: 1; z-index: 2;">  <img id="huge_it_slideshow_image_3_1" class="huge_it_slideshow_image_3" src="../home/img/body/第十届独立游戏大赛.jpg" alt="" data-image_id="90" style="width: 880px; height: 440px;" /> </a>
           <div class="huge_it_slideshow_title_text_3 none" style="margin-top: -17.5px;"></div>
           <div class="huge_it_slideshow_description_text_3 none" style=""></div> </li>
          <li class="huge_it_slideshow_image_second_item_3" id="image_id_3_2">  <img id="huge_it_slideshow_image_3_2" class="huge_it_slideshow_image_3" src="../home/img/body/首发宣大图1000x500.jpg" alt="" data-image_id="89" style="width: 880px; height: 440px;" /> </a>
           <div class="huge_it_slideshow_title_text_3 none" style="margin-top: -17.5px;"></div>
           <div class="huge_it_slideshow_description_text_3 none" style=""></div> </li>
          <li class="huge_it_slideshow_image_second_item_3" id="image_id_3_3"> <a href="/group"> <img id="huge_it_slideshow_image_3_3" class="huge_it_slideshow_image_3" src="../home/img/body/2.png" alt="" data-image_id="86" style="width: 880px; height: 440px;" /> </a>
           <div class="huge_it_slideshow_title_text_3 none" style="margin-top: -17.5px;"></div>
           <div class="huge_it_slideshow_description_text_3 none" style=""></div> </li>
         </ul>
        </div>
        <input type="hidden" id="huge_it_current_image_key_3" value="1" />
       </div>
      </div>
     </div>
    </div>
    <div class="content" id="lastest">
     <div class="content-wrapper">
      <!--组队信息轮播展示 begin-->
      <div id="match_carousel">
       <ul>
       </ul>
      </div>
      <!--组队信息轮播展示 end-->
      <h2 class="lastest"></h2>
      <div class="articles">
       <!-- <article class="posts post-1 cf">
        <div class="info cf">
         <div class="topic left">
          <span><a  class="breaking" target="_blank">国外游戏 </a> / foreign-games</span>
         </div>
         <div class="postmeta right">
          <a  class="uname" data-name="" target="_blank">Determine</a>
         </div>
        </div>
        <div class="left left-col">
         <div class="image feature-img thumb-180">
          <img src="../home/img/body/ss_09dc9e84a5b1326227af53b25e1e8a156345af30.600x338.jpg" srcset="http://source.indiegames.cn/wp-content/uploads/2017/10/ss_09dc9e84a5b1326227af53b25e1e8a156345af30.600x338.jpg?imageView2/1/w/360/h/240 2x" alt="一款有着独特美术的快节奏日式ARPG游戏——《五剑》（GOKEN）" class="wp-post-image" width="180" height="120" />
         </div>
        </div>
        <div class="right-col">
         <h1><a href="http://www.indiegames.cn/foreign-games/7996.html" data-no-turbolink="true" onclick="javascript:_gaq.push(['_trackPageview', '/click/index_newtab/']);" target="_blank" title="一款有着独特美术的快节奏日式ARPG游戏——《五剑》（GOKEN）">一款有着独特美术的快节奏日式ARPG游戏——《五剑》（GOKEN）</a></h1>
         <p>《五剑》（GOKEN）是一款俯视视角的日式ARPG游戏，在这款游戏-GOKEN中，你被命令去寻找五千年前上帝制作失败的五把剑，这可不是一件容易的事情。这一路上，你会遇到无穷无尽的敌人，但是，一些耀眼的纹章将会赐予你力量，让你得以生存。GOKEN的战斗系...</p>
        </div>
       </article>  -->
       <article class="posts post-1 cf">
        <div class="info cf">
         <div class="topic left">
          <span><a  class="breaking" target="_blank">国外资讯 </a> / foreign-games</span>
         </div>
         <div class="postmeta right">
          <a  class="uname" data-name="" target="_blank">Determine</a>
         </div>
        </div>
        <div class="left left-col">
         <div class="image feature-img thumb-180">
          <img src="../home/img/body/ss_09dc9e84a5b1326227af53b25e1e8a156345af30.600x338.jpg" srcset="http://source.indiegames.cn/wp-content/uploads/2017/10/ss_09dc9e84a5b1326227af53b25e1e8a156345af30.600x338.jpg?imageView2/1/w/360/h/240 2x" class="wp-post-image" width="180" height="120" />
         </div>
        </div>
        <div class="right-col">
         <h1><a href="/article/a?_id={{news1._id}}" data-no-turbolink="true" onclick="javascript:_gaq.push(['_trackPageview', '/click/index_newtab/']);" target="_blank" >{{{news1.title}}}</a></h1>
         <p>{{{news1.content}}}</p>
        </div>
       </article>

       <article class="posts post-1 cf">
        <div class="info cf">
         <div class="topic left">
          <span><a  class="breaking" target="_blank">独游资讯 </a> / news</span>
         </div>
         <div class="postmeta right">
          <a class="uname" data-name="" target="_blank">Determine</a>
         </div>
        </div>
        <div class="left left-col">
         <div class="image feature-img thumb-180">
         <img src="../home/img/body/QQ截图20171007125259.png" srcset="http://source.indiegames.cn/wp-content/uploads/2017/10/QQ截图20171007125259.png?imageView2/1/w/360/h/240 2x" class="wp-post-image" width="180" height="120" />
         </div>
        </div>
        <div class="right-col">
         <h1><a href="/article/a?_id={{news2._id}}" data-no-turbolink="true" onclick="javascript:_gaq.push(['_trackPageview', '/click/index_newtab/']);" target="_blank" >{{{news2.title}}}</a></h1>
         <p>{{{news2.content}}}</p>
        </div>
       </article>


      </div>
      <div class="pagination pagination-list cf">
       <ul>
        <li class="prev-page"></li>
        <li class="active disabled"><span><a href="#">1</a></span></li>
        <li class="disabled"><span><a >&middot;&middot;&middot;</a></span></li>
        <li class="next-page"><a>下一页</a></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
   <div class="sidebar">
    <section class="sidebar-tab">
     <ul class="sidebar-tab__tabs cf tabs">
      <li class="tab-new"><a data-target="#tab-new" title="">最新资讯</a></li>
      <li class="tab-hot"><a data-target="#tab-hot" title="">热点话题</a></li>
      <li class="tab-rand" style="width:92px"><a class="active" data-target="#tab-rand" title="">随机推荐</a></li>
     </ul>
     <div id="tabs-content" class="sidebar-tab__wrapper">
      <div id="tab-new" class="sidebar-tab__new tabs-pane">
       <ul>
        <li><h2><a href="/article/a?_id={{news1._id}}" target="_blank">{{{news1.title}}}</a></h2></li>
        </ul>
      </div>
      <div id="tab-hot" class="sidebar-tab__hot tabs-pane">
       <ul>
        <li><h2><a href="/article/a?_id={{news1._id}}" target="_blank">{{{news1.title}}}</a></h2></li>
       </ul>
      </div>
      <div id="tab-rand" class="sidebar-tab__rand tabs-pane active">
       <ul>
        <li><h2><a href="/article/a?_id={{news1._id}}" target="_blank">{{{news1.title}}}</a></h2></li>
       </ul>
      </div>
     </div>
    </section>
    <section class="widget monews_tag">
     <h3>热门标签</h3>
     <div class="sidebar-tags__list">
      <a href="/group">寻找队友</a>
      <a>独游推荐</a>

     </div>
    </section>
    <section class="widget widget_huge_it_widget">
     <div class="huge_it_slideshow_image_wrap_2" style="width: 280px; height: 157px;">
      <div id="huge_it_loading_image_2" class="display" style="display: none;">
       <img src="../home/img/body/loading5.gif" alt="" />
      </div>
      <div class="huge_it_slideshow_image_wrap1_2 nodisplay" style="display: block;">
       <div class="huge_it_slideshow_dots_container_2">
        <div class="huge_it_slideshow_dots_thumbnails_2">
         <div id="huge_it_dots_0_2" class="huge_it_slideshow_dots_2 huge_it_slideshow_dots_deactive_2" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_2')) { return false; } huge_it_change_image_2(parseInt(jQuery('#huge_it_current_image_key_2').val()), '0', data_2,false,true);return false;" data-image_id="77" data-image_key="0"></div>
         <div id="huge_it_dots_1_2" class="huge_it_slideshow_dots_2 huge_it_slideshow_dots_deactive_2" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_2')) { return false; } huge_it_change_image_2(parseInt(jQuery('#huge_it_current_image_key_2').val()), '1', data_2,false,true);return false;" data-image_id="75" data-image_key="1"></div>
         <div id="huge_it_dots_2_2" class="huge_it_slideshow_dots_2 huge_it_slideshow_dots_active_2" onclick="if(jQuery(this).hasClass('huge_it_slideshow_dots_active_2')) { return false; } huge_it_change_image_2(parseInt(jQuery('#huge_it_current_image_key_2').val()), '2', data_2,false,true);return false;" data-image_id="76" data-image_key="2"></div>
        </div>
       </div>
       <div id="huge_it_slideshow_image_container_2" class="huge_it_slideshow_image_container_2" style="width: 280px; height: 157px;">
        <div class="huge_it_slide_container_2">
         <div class="huge_it_slide_bg_2">
          <ul class="huge_it_slider_2">
           <li class="huge_it_slideshow_image_item_2" id="image_id_2_0" style="opacity: 0; z-index: 1;"> <a href="http://bbs.indiegames.cn/article" target="_blank" class="external"> <img id="huge_it_slideshow_image_2_0" class="huge_it_slideshow_image_2" src="../home/img/body/.png" alt="" data-image_id="77" style="width: 280px; height: 157px;" /> </a>
            <div class="huge_it_slideshow_title_text_2 none" style="margin-top: -5.5px;"></div>
            <div class="huge_it_slideshow_description_text_2 none" style=""></div> </li>
           <li class="huge_it_slideshow_image_second_item_2" id="image_id_2_1" style="opacity: 0; z-index: 1;"> <a href="http://bbs.indiegames.cn/vr" target="_blank" class="external"> <img id="huge_it_slideshow_image_2_1" class="huge_it_slideshow_image_2" src="../home/img/body/2(1).png" alt="" data-image_id="75" style="width: 280px; height: 157px;" /> </a>
            <div class="huge_it_slideshow_title_text_2 none" style="margin-top: -5.5px;"></div>
            <div class="huge_it_slideshow_description_text_2 none" style=""></div> </li>
           <li class="huge_it_slideshow_image_second_item_2" id="image_id_2_2" style="opacity: 1; z-index: 2;"> <a href="/group" target="_blank" class="external"> <img id="huge_it_slideshow_image_2_2" class="huge_it_slideshow_image_2" src="../home/img/body/3.png" alt="" data-image_id="76" style="width: 280px; height: 157px;" /> </a>
            <div class="huge_it_slideshow_title_text_2 none" style="margin-top: -5.5px;"></div>
            <div class="huge_it_slideshow_description_text_2 none" style=""></div> </li>
          </ul>
         </div>
         <input type="hidden" id="huge_it_current_image_key_2" value="2" />
        </div>
       </div>
      </div>
     </div>
    </section>
    <section class="widget monews_post">
     <h3>精彩独立游戏</h3>
     <div class="sidebar-popular__list">
      <article class="sidebar-sponsored__posts cf">
       <div class="meta"></div>
       <div class="image thumb-60 left">
        <img src="../home/img/body/ss_09dc9e84a5b1326227af53b25e1e8a156345af30.600x338(1).jpg"  />
       </div>
       <h1><a href="/article/a?_id={{news1._id}}" class="external" target="_blank">{{{news1.title}}}</a></h1>
      </article>
     </div>
    </section>
    <div style="width: 280px; height: 303px; float: none; display: none;"></div>
   </div>
  </div>
  <div class="cf post-ad">
  </div>
  <div class="cf post-ad-m">
  </div>
  <script src="../home/js/main.js" type="text/javascript"></script>
  <script src="../home/js/topic.js" type="text/javascript"></script>
  <div class="actGotop" style="display: none;">
   <a href="javascript:;" title="返回顶部"></a>
  </div>
  <div class="moanalysis">
  </div>
  <script type="text/javascript" src="js/home.js"></script>
  {{> footer}}
